<div class="content">
  <div class="columns fade-in">
    <% data.posts.forEach(function(post) { %>
    <% if(!post.draft) { %>
    <div class="column">
      <div class="head">
        <a href="<%= post.permalink %>" class="headline hl1">
          <span><%= post.title %></span>
        </a>
        <% if(post.date) { %>
        <p><span class="headline hl2"><%= post.date %>
            <% if(post.author) { %>
            by <%= post.author %>
            <% } %></span>
        </p>
        <% } %>
      </div>
      <% if(post.excerpt) { %>
      <p><%= post.excerpt %></p>
      <% } %>
    </div>
    <% } %>
    <% }) %>
  </div>
</div>